/*
 * search-select created by 剑平 on 14-4-21
 * 
 */
@import "./default"
.bf-select
  .bf-search-text
    position absolute
    border 0
    top 0
    left 0
    padding 6px 8px
    width 80%
.bf-menuitem-hidden
  display none